<h1><%= @user.name %></h1>

<h3>Tasks</h3>

<% if @user.tasks.count > 0 %>
	<table class="table table-hover">
		<thead>
			<tr>
				<th></th>
				<th>Task</th>
				<th class="nowrap">Due Date</th>
				<th></th>
			</tr>
		</thead>

		<tbody>
			<% @tasks.each do |task| %>
				<tr class="<%= task.complete? ? 'success' : '' %>">
					<td>
						<%= form_for task do |f| %>
							<%= f.check_box :complete %>
						<% end %>
						<script>
							$(':checkbox').on('click', function() {
								$(this).closest('form').submit();
							});
						</script>
					</td>
					<td><%= task.content %></td>
					<td class="nowrap"><%= task.date %></td>
					<td class="nowrap">
						<%= link_to 'edit', edit_task_path(task.id) %>
						<%= link_to 'delete', task,
							confirm: 'Are you sure you wish to delete this task?',
							method: :delete %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% end %>
